<div class="col-3">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; min-height: 92vh;">
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/user/director" class="nav-link active" aria-current="page">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="/"></use>
            </svg>
            View Test Report List
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#speedometer2"></use>
            </svg>
            View Final Invoice
          </a>
        </li>
        <li>
          <a href="/user/createUserPage" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#table"></use>
            </svg>
            Create User
          </a>
        </li>
      </ul>
      <hr>


      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{!-- <img src="https://abhisingh88.github.io/me/static/media/me2.58c2c28c.jpg" alt="" width="32" height="32" --}}
          <img src="http://localhost:3000/userImages/{{userImg}}" alt="" width="32" height="32"
            class="rounded-circle me-2">
          <strong>Director</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="/user/logout">Sign out</a></li>
        </ul>
      </div>
    </div>

  </div>