<div class="col-3">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; min-height: 92vh;">
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/user/pilabheadRecords?page=1&limit=6" class="nav-link text-white {{#if prListTab }} active {{/if}}" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="/"></use>
                    </svg>
                    Generate TR
                </a>
            </li>
            <li>
                <a href="/user/trlabheadRecords?page=1&limit=6" class="nav-link text-white {{#if allocationTab }} active {{/if}}">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Allocation List
                </a>
            </li>
            <li>
                <a href="/user/completedTestReports?page=1&limit=6" class="nav-link text-white {{#if completedTestTab }} active {{/if}}">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    Completed Test Reports
                </a>
            </li>
            <li>
                <a href="/user/approvedTestReportList?page=1&limit=6" class="nav-link text-white {{#if approvedTestListTab }} active {{/if}}">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    Approved Test Reports
                </a>
            </li>
            <li>
                <a href="/user/getTrDataStatus" class="nav-link text-white {{#if getOneTrRecordTab }} active {{/if}}">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    Get a TR Record
                </a>
            </li>
        </ul>
        <hr>


        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                {{!-- <img src="https://abhisingh88.github.io/me/static/media/me2.58c2c28c.jpg" alt="" width="32"
                    height="32" --}} <img src="http://localhost:3000/userImages/{{userImg}}" alt="" width="32"
                    height="32" class="rounded-circle me-2">
                <strong>Lab Head</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="/user/logout">Sign out</a></li>
            </ul>
        </div>
    </div>

</div>