
<nav class="navbar navbar-expand-lg fixed-top ms-auto p-2" style="width: 83.35%; background: #2b7a78">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <d3>Name</d3>
        <img src="http://localhost:3000/userImages/{{userImg}}" alt="" width="32" height="32" class="rounded-circle ms-3">
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="/user/logout">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>