<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IT Generate</title>

  {{!--
  <link rel="stylesheet" href="css/sidemenu.css">
  <link rel="stylesheet" href="css/new-user.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script> --}}

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

  {{> navbar }}



  <div class="container-flex">
    <div class="row">
      <div class="col-3">
        {{> receptionSidebar }}
      </div>
      <div class="col-8 mx-0">
        <div>
          <form action="/data/itDetails" method="post">
            <div class="container my-4">

              {{#if success}}


              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Thank You!!</strong> We have Intilized the request for testing
                <h3>Your IT No is: {{itNo}}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

              {{/if}}

              <h1>Generate IT No.</h1>
              <hr>

              <input type="text" placeholder="Company Name" name="companyName" id="comp" required>

              <input type="text" placeholder="Contact Person" name="person" id="person" required>

              <input type="text" placeholder="Contact Number" name="contact" id="contact" required>

              <button type="submit" class="subbtn">Submit</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>