<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Generate</title>

    <link rel="stylesheet" href="css/sidemenu.css">
    <link rel="stylesheet" href="css/new-user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
  {{> navigation}}

    <form action="" >
        <div class="container">
          <h1>Generate IT No.</h1>
          <hr>

          <input type="text" placeholder="Company Name" name="comp" id="comp" required>
      
          <input type="text" placeholder="Contact Person" name="person" id="person" required>
      
          <input type="text" placeholder="Contact Number" name="contact" id="contact" required>

          <button type="submit" class="subbtn">Submit</button>

        </div>
      </form>
</body>
</html>