<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>

    <link rel="stylesheet" href="css/sidemenu.css">
    <link rel="stylesheet" href="css/uploads.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
  {{> navigation}}

    <form action="">
        <div class="container">
          <h1>Verify</h1>
          <hr>

          <div id="file-container">
            <p id="fileImage"><i class="fas fa-file-download"></i>Download File</p>
           </div>
           

           <textarea rows="10" class="textbox" placeholder="Errors/Improvements"></textarea>
           <hr>

          <button type="submit" class="retestbtn">Re-Test</button>
          <button type="submit" class="apprbtn">Approve Report</button>
        </div>
      </form>
</body>
</html>