* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #def2f1;
}

a {
    text-decoration: none;
}

.table-responsive {
    text-align: center;
}

.table {
  border: 1px solid #17252a;
  background: #fff;
  color: #17252a;
}

.row {
    margin: 0%;
    row-gap: 28px;
}

.srch-box {
    padding: 0%;
    margin: 0 0 24px 0;
    background: #3aafa9;
}

.form-select {
  border: 0.5px solid #3aafa9;
}

h1 {
  font-weight: lighter;
  color: #17252a;
}

hr {
  margin-bottom: 2%;
  color: #17252a;
}



