<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advance Payment</title>

    <link rel="stylesheet" href="css/sidemenu.css">
    <link rel="stylesheet" href="css/new-user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

</head>
<body>
  {{> navigation }}
    <form action="" >
        <div class="container">
          <h1>Advance Payment</h1>
          <hr>

          <input type="text" placeholder="Proforma Invoice No." name="p-inv" id="p-inv" required>
      
          <input type="text" placeholder="Payment Mode" name="pay-mode" id="pay-mode" required>
      
          <input type="text" placeholder="Payment Amount" name="amt" id="amt" required>

          <button type="submit" class="rcvdbtn">Received</button>

        </div>
      </form>
</body>
</html>